[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"


scikit-learn = "*"
tensorflow = "*"
pandas = "*"
xlrd = "*"
xlsx2csv = "*"
neo4j = "*"
py2neo = "*"

[dev-packages]

[requires]
python_version = "3.9"
