attrs==20.3.0
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
cached-property==1.5.2
cefpython3==66.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
clingo==5.5.0.post3
cryptography==3.4.6
distlib==0.3.3
distro==1.5.0
docker==4.4.4
docker-compose==1.28.5
dockerpty==0.4.1
docopt==0.6.2
filelock==3.3.2
idna==2.10
jsonschema==3.2.0
meson==0.59.1
paramiko==2.7.2
pipenv==2021.11.9
platformdirs==2.4.0
pycparser==2.20
PyNaCl==1.4.0
pyrsistent==0.17.3
python-dotenv==0.15.0
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
tdma_api==0.2
texttable==1.6.3
urllib3==1.26.4
virtualenv==20.10.0
virtualenv-clone==0.5.7
websocket-client==0.58.0
pandas==*
